<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb Clone - Vacation Homes & Condo Rentals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path("airbnb_icon.svg") %>
  </head>

  <body>
    <%= render "layouts/header"%>
      <%= yield %>
  </body>
</html>
